.navbar-default {
  background-color: #b65976;
  border-color: #53ad44;
}
.navbar-default .navbar-brand {
  color: #232796;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b64f31;
}
.navbar-default .navbar-text {
  color: #232796;
}
.navbar-default .navbar-nav > li > a {
  color: #232796;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b64f31;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b64f31;
  background-color: #53ad44;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b64f31;
  background-color: #53ad44;
}
.navbar-default .navbar-toggle {
  border-color: #53ad44;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #53ad44;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #232796;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #232796;
}
.navbar-default .navbar-link {
  color: #232796;
}
.navbar-default .navbar-link:hover {
  color: #b64f31;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #232796;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b64f31;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b64f31;
    background-color: #53ad44;
  }
}